name: Java CI with Maven and CodeCov

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven and run tests
      run: mvn -B clean test
      
    - name: Generate Site with Reports
      run: mvn -B site:site -DskipTests -N
      
    - name: Run JaCoCo Report Aggregate
      run: mvn -B jacoco:report-aggregate -DskipTests
      
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
        directory: ./target/site/jacoco-aggregate/
        flags: unittests
        verbose: true 